{% extends "base.html" %}
{% block content %}
<h2>Lista de Estudiantes</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Acciones</th>
    </tr>
    {% for a_student in students %}
        <tr>
            <th>{{a_student.student_id}}</th>
            <th>{{a_student.first_name}}</th>
            <th>{{a_student.last_name}}</th>
            <th>
                <a href="{{url_for('student_bp.detail', student_id=a_student.student_id)}}">Ver más</a>
            </th>
        </tr>
    {% endfor %}
</table>


{% endblock content %}
